.Navbar {
  /* position: fixed; */
  top: 0;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: white solid 1px;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 20px 20px;
  text-decoration: none;
  z-index: 1;
  /* margin-top: 200px; */
}

.Navbar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.Search {
  text-align: center;
  color: black;
  background-color: rgb(156, 156, 156);
  border-radius: 10px;
  padding: 0px 20px 0px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 130px;
}



span img {
  margin-top: 5px;
}

.Connexion {
  width: 400px;
  background-color: rgb(156, 156, 156);
  padding: 10px 30px;
  border-radius: 10px;
}
